.card1 {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .paragraph {
    margin-bottom: 20px;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profileIcon {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%; /* Ensures the icon is circular */
    margin-right: 10px;
  }
  
  .profileName {
    font-weight: bold;
  }
  